.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
dist/
build/
*.egg-info/

# mkdocs
site/

# Node
node_modules/
.pnpm-store/
.yarn/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.turbo/
.next/

# Editor
.vscode/
*.swp
